<section class="container">
    <h1>RSVP</h1>
    <%= form_for @rsvp do |f| %>
        <div class="form-group row">
            <%= f.label :full_name, class: 'col-2 col-form-label' %>
            <div class="col-10">
                <%= f.text_field :full_name, class: 'form-control' %>
            </div>
        </div>
        <fieldset class="form-group row">
            <label class="form-check-label">
                <%= f.radio_button :is_coming, true, checked: true %>
                Will be there!
            </label>
            <label class="form-check-label">
                <%= f.radio_button :is_coming, false %>
                Can't make it
            </label>
        </fieldset>
        <fieldset class="form-group row">
            <label class="form-check-label">
                <%= f.radio_button :has_plus_one, true, checked: true %>
                I will be bringing someone
            </label>
            <label class="form-check-label">
                <%= f.radio_button :has_plus_one, false %>
                Goin' solo
            </label>
        </fieldset>
        <div class="form-group row">
            <%= f.label :plus_one_full_name, class: 'col-2 col-form-label' %>
            <div class="col-10">
                <%= f.text_field :plus_one_full_name, class: 'form-control' %>
            </div>
        </div>
        <%= f.submit %>
    <% end %>
</section>
